.Container {
  height: 25%;
  background-color: #d8b880;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Container button{
    color: black;
    font-family: 'Sarabun';
    background-color: #d8b880;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
    border: 0;
  }
.Container button:active{
    background-color: #d9c094;
    border-right: 1px solid #c8a15c;
    border-bottom: 1px solid #c8a15c;
  }
.Container button:hover{
    cursor: pointer;
  }
