.Container {
  min-height: 25%;
  background-color: #d8b880;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  font-family: "Sarabun", sans-serif;
}

.ContainerLink{
  background-color: #d8b880;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  border: 0;
  font-family: "Sarabun", sans-serif;
}

.ContainerLink:active {
  background-color: #d9c094;
  border-right: 1px solid #c8a15c;
  border-bottom: 1px solid #c8a15c;
  font-family: "Sarabun", sans-serif;
  color: black;
}

.ContainerLink:hover {
  cursor: pointer;
  font-family: "Sarabun", sans-serif;
  color: black;
}
