.Container {
  min-height: 35%;
  background-color: #1c1c1c;
  border-bottom: 1px solid;
  overflow: hidden;
}

.InnerContainer {
  display: grid;
  grid-template-rows: 60% 75%;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}

.topContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.IconLinkF,
.IconLinkT,
.IconLinkI {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease; /* Add a transition for the color property */
}

.IconLinkF:hover {
  color: royalblue;
  cursor: pointer;
}

.IconLinkT:hover {
  color: deepskyblue;
  cursor: pointer;
}

.IconLinkI:hover {
  color: magenta;
  cursor: pointer;
}

.IconLinkF:active {
  color: black;
  cursor: pointer;
}

.IconLinkT:active {
  color: black;
  cursor: pointer;
}

.IconLinkI:active {
  color: black;
  cursor: pointer;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #f7f5f1;
}

.FirstLine {
  font-family: Sarabun;
  font-size: 50.695px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.SecondLine {
  font-family: Sarabun;
  font-size: 50.695px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
